spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

  flyway:
    locations: classpath:db/migration
    enabled: true

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 86400000

server:
  port: ${PORT:8080}

logging:
  level:
    com.shas.smart_home_automation_system: INFO
    org.springframework.security: WARN