apiVersion: apps/v1
kind: Deployment
metadata:
  name: shas-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shas-redis
  template:
    metadata:
      labels:
        app: shas-redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
          volumeMounts:
            - mountPath: /data
              name: redisdata
      volumes:
        - name: redisdata
          persistentVolumeClaim:
            claimName: redis-pvc


